{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper" style="min-height: 1024.88px;">
    <section class="content-header">
        <h1>Тарифи</h1>
        <ul class="breadcrumb">
            <li><a href="/adminpanel/"><i class="fa fa-home"></i> Головна</a></li>
            <li class="active">Тарифи</li>
        </ul>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right margin-bottom">
                    <a class="btn btn-success" href="{% url 'create_tariff' %}">Добавити тариф</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered table-hover table-striped linkedRow">
                                <thead>
                                    <tr>
                                        <th><a href="{% url 'create_tariff' %}" data-sort="name">Назва тарифа</a></th>
                                        <th>Опис тарифа</th>
                                        <th>Дата редагування</th>
                                        <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in form %}
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>{{ item.create_time }}</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="{% url 'create_tariff' %}?tariff_id={{ item.id }}" title="Копировать" data-toggle="tooltip"><i class="fa fa-clone"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'update_tariff' item.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'delete_tariff' item.id %}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



{% endblock %}