{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper" style="min-height: 1026.88px;">
    <section class="content-header">
        <h1>Пользователи</h1>

        <ul class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Главная</a></li>
            <li class="active">Пользователи</li>
        </ul>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right margin-bottom">
                    <a class="btn btn-success" href="/admin/user-admin/create">Создать пользователя</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <a href="/admin/user-admin/index" class="btn btn-default btn-sm">
                                <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div id="w0" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered table-hover table-striped linkedRow">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Пользователь</th>
                                        <th>Роль</th>
                                        <th>Телефон</th>
                                        <th>Email (логин)</th>
                                        <th>Статус</th>
                                        <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                    </tr>
                                    <tr id="w0-filters" class="filters">
                                        <td>&nbsp;</td>
                                        <td><input type="text" class="form-control" name="UserAdminSearch[searchFullname]"></td>
                                        <td><select id="useradminsearch-role" class="form-control select2-hidden-accessible" name="UserAdminSearch[role]" data-s2-options="s2options_7ebc6538" data-krajee-select2="select2_0d896465" style="display:none" tabindex="-1" aria-hidden="true">
                                        </select>
                                            <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                                <span class="selection">
                                                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-useradminsearch-role-container">
                                                        <span class="select2-selection__rendered" id="select2-useradminsearch-role-container">
                                                            <span class="select2-selection__placeholder"></span>
                                                        </span>
                                                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </td>
                                </thead>

                                <tbody>
                                {% for item in form %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
        <div class="box-footer clearfix"><ul class="pagination pagination-sm no-margin pull-right"><li class="prev disabled"><span>«</span></li>
        <li class="active"><a href="/admin/user-admin/index?page=1&amp;per-page=50" data-page="0">1</a></li>
        <li><a href="/admin/user-admin/index?page=2&amp;per-page=50" data-page="1">2</a></li>
        <li><a href="/admin/user-admin/index?page=3&amp;per-page=50" data-page="2">3</a></li>
        <li><a href="/admin/user-admin/index?page=4&amp;per-page=50" data-page="3">4</a></li>
        <li><a href="/admin/user-admin/index?page=5&amp;per-page=50" data-page="4">5</a></li>
        <li><a href="/admin/user-admin/index?page=6&amp;per-page=50" data-page="5">6</a></li>
        <li class="next"><a href="/admin/user-admin/index?page=2&amp;per-page=50" data-page="1">»</a></li></ul></div></div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}