{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper" style="min-height: 1026.88px;">
    <section class="content-header">
        <h1>Новая квитанция</h1>

        <ul class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Главная</a></li>
            <li><a href="/admin/invoice/index">Квитанции</a></li>
            <li class="active">Новая квитанция</li>
        </ul>
    </section>

    <section class="content">
                <div class="invoice-create">
                    <form id="invoice-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-md-7 col-lg-6">
                                <div class="page-header-spec">
                                    <div class="form-group field-invoice-uid required">
                                        <div class="input-group">
                                            <div class="input-group-addon">№</div>
                                                {{ form.invoice_unique_id }}
                                            </div>
                                        </div>
                                        <span class="label-mid">от</span>
                                        <div class="form-group field-invoice-uid_date">
                                            <div id="invoice-uid_date-kvdate" class="input-group  date">
                                                <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i class="glyphicon glyphicon-calendar"></i></span>
                                                {{ form.create_time }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-5 col-lg-6">
                                    <div class="btn-group pull-right margin-bottom">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Выберите действие <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="set-tariff-services">Выставить все услуги согласно тарифу</a></li>
                                            <li><a href="#" class="add-counters">Добавить показания счетчиков</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="box-body">
                                        <input type="hidden" id="invoice-id" name="Invoice[id]">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group field-flatform-house_id required">
                                                    <label for="flatform-house_id">Дом</label>
                                                    <select id="flatform-house_id" class="form-control" name="house_id">
                                                        {% if house %}
                                                            <option value="{{ house.id }}">{{ house.name }}</option>
                                                        {% else %}
                                                            <option value="">Выберите...</option>
                                                        {% endif %}
                                                    </select>
                                                </div>

                                                <div class="form-group field-flatform-section_id required">
                                                    <label for="flatform-section_id">Секция</label>
                                                    <select id="flatform-section_id" class="form-control">
                                                        {% if section %}
                                                            <option value="{{ section.id }}">{{ section.name }}</option>
                                                        {% else %}
                                                                <option value="">Выберите...</option>
                                                        {% endif %}
                                                    </select>
                                                </div>

                                                <div class="form-group field-flatform-flat_id required">
                                                    <label class="control-label" for="flatform-flat_id">Квартира</label>
                                                    <select id="flatform-flat_id" class="form-control" aria-required="true">
                                                        {% if apartment %}
                                                            <option value="{{ apartment.id }}">{{ apartment.apartment_number }}</option>
                                                        {% else %}
                                                                <option value="">Выберите...</option>
                                                        {% endif %}
                                                    </select>
                                                    <div class="help-block"></div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group field-invoice-is_checked">
                                                    {{ form.status }}
                                                    <label class="control-label">Проведена</label>
                                                    <div class="help-block"></div>
                                                </div>
                                                <div class="form-group field-invoice-status required">
                                                    <label class="control-label" for="invoice-status">Статус</label>
                                                    {{ form.type }}
                                                    <div class="help-block"></div>
                                                </div>

                                                <div class="form-group field-invoice-tariff_id required">
                                                    <label class="control-label" for="invoice-tariff_id">Тариф</label>
                                                    {{ form.tariff }}
                                                    <div class="help-block"></div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="form-group field-invoice-period_start">
                                                            <label class="control-label" for="invoice-period_start">Период с</label>
                                                            <div id="invoice-period_start-kvdate" class="input-group  date">
                                                              <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i class="glyphicon glyphicon-calendar"></i></span>
                                                              {{ form.period_start }}
                                                            </div>
                                                            <div class="help-block"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-group field-invoice-period_end">
                                                            <label class="control-label" for="invoice-period_end">Период по</label>
                                                            <div id="invoice-period_end-kvdate" class="input-group  date">
                                                                <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                {{ form.period_end }}
                                                            </div>
                                                          <div class="help-block"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account_uid">Лицевой счет</label>
                                                    {{ form.payment_account }}
                                                </div>

                                                <p><b>Владелец:</b> <span id="user-fullname"></span></p>
                                                <p><b>Телефон:</b> <span id="user-phone"></span></p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ formset.management_form }}
                                        <div class="table-responsive no-padding">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 200px;">Услуга</th>
                                                        <th style="min-width: 180px;">Расход</th>
                                                        <th style="min-width: 120px;">Ед. изм.</th>
                                                        <th style="min-width: 180px;">Цена за ед., грн.</th>
                                                        <th style="min-width: 180px;">Стоимость, грн.</th>
                                                        <th style="width: 40px; min-width: 40px;"></th>
                                                    </tr>
                                                </thead>


                                                <tbody id="container-invoiceservice_set" class="tab-content">

                                                {% for form in formset %}
                                                    <tr class="invoiceservice_set-row">
                                                        <td>
                                                            {{ form.id }}
                                                            {% for hidden in form.hidden_fields %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                            {{ form.service }}
                                                        </td>
                                                        <td>{{ form.indicator }}</td>
                                                        <td>{{ form.measurement }}</td>
                                                        <td>{{ form.measurement_price }}</td>
                                                        <td>{{ form.price }}</td>
                                                        <td>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                            <div style="display: none;">
                                                                {{ form.DELETE }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="4" valing="middle">
                                                            <button type="button" class="btn btn-default btn-hover-change form-row-add-invoiceservice-btn" data-prefix="invoiceservice_set">
                                                                Добавить услугу
                                                            </button>
                                                            <button type="button" class="btn btn-default set-tariff-services">
                                                                Установить все услуги согласно тарифу
                                                            </button>
                                                            <button type="button" class="btn btn-default add-counters">
                                                                Добавить показания счетчиков
                                                            </button>
                                                        </td>
                                                        <td style="min-width: 180px;">
                                                            <div class="h4">
                                                                Итого: <b><span id="price-total">0.00</span></b> грн
                                                                {{ form.total_amount }}
                                                            </div>
                                                        </td>
                                                        <td style="width: 40px; min-width: 40px;"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <div class="form-group">
                                            <a href="{% url 'invoice' %}" class="btn btn-default">Отменить</a>
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </form>
                </div>
    </section>
</div>


<template id="empty-template-invoiceservice_set">
    <tr class="invoiceservice_set-row">
        <td>
            {% for hidden in formset.empty_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {{ formset.empty_form.service }}
        </td>
        <td>{{ formset.empty_form.indicator }}</td>
        <td>{{ formset.empty_form.measurement }}</td>
        <td>{{ formset.empty_form.measurement_price }}</td>
        <td>{{ formset.empty_form.price }}</td>

        <td>
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
            </span>
        </td>
    </tr>
</template>
{% endblock %}





{% block scripts %}
<script src="{% static 'dist/js/selects2.js' %}"></script>
<script src="{% static 'dist/js/formset.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#invoice-uid_date, #invoice-period_start_date, #invoice-period_end_date').datepicker({
            format: 'yyyy-mm-dd', // Формат для Django (Year-Month-Day)
            autoclose: true,
            language: 'ru',
            todayHighlight: true,
            orientation: "bottom auto"
        });
    });
</script>

<script>
$(document).ready(function(){
    $('.set-tariff-services').click(async function(e){ // тут треба id з кнопки

        e.preventDefault();

        let ivoicetariff = $('#invoice-tariff_id').val(); //тут треба id з селекта tariff

        if (!ivoicetariff) {
            alert("Будь ласка, оберіть тариф перед завантаженням послуг")
            return;
        }

        try {

            let response = await fetch(`/api/tariff/${ivoicetariff}/service`); // туть нада ссилочка на ninja

            let data = await response.json();

            data.forEach(item=> {
                $('.form-row-add-invoiceservice-btn').trigger('click'); // клікаємо по кнопці, добавити ссилку на цю кнопку

                let $newRow = $('#container-invoiceservice_set').children().last();

                $newRow.find('select[name$="-service"]').val(item.service_id);
                $newRow.find('input[name$="-measurement_price"]').val(item.price);
                $newRow.find('select[name$="-measurement"]').val(item.measurement);

                });
            } catch (error) {
                console.error("Не вдалося завантажити послуги:", error);
                alert("Сталася помилка при завантаженні тарифу.")
            }
    });
});
</script>

<script>
$(document).ready(function() {
    $('.add-counters').click(async function(e) {
        e.preventDefault();

        let apartmentId = $('#flatform-flat_id').val();
        if (!apartmentId) {
            alert('Будь ласка, спочатку виберіть квартиру!');
            return;
        }

        // 1. Збираємо всі вибрані послуги з рядків
        let selectedServices = [];
        $('#container-invoiceservice_set select[name$="-service"]').each(function() {
            let serviceId = $(this).val();
            if (serviceId) {
                selectedServices.push(serviceId);
            }
        });

        // Якщо жодної послуги не вибрано, немає сенсу робити запит
        if (selectedServices.length === 0) {
            console.log("Немає обраних послуг для перевірки лічильників.");
            return;
        }

        // 2. Формуємо правильні query-параметри для списку
        // Це створить рядок типу: apartment_id=5&service_ids=1&service_ids=4&service_ids=7
        let params = new URLSearchParams();
        params.append('apartment_id', apartmentId);
        selectedServices.forEach(id => params.append('service_ids', id));

        try {
            // 3. Відправляємо запит
            let response = await fetch(`/api/invoice/counters?${params.toString()}`);

            if (!response.ok) {
                console.error("🚨 Сервер повернув статус:", response.status);
                console.error("🚨 Тіло відповіді від сервера:", rawText);
                return;
            }

            let countersData = await response.json();

            // 4. Створюємо словник (Map) для швидкого пошуку
            let countersMap = {};
            countersData.forEach(counter => {
                countersMap[counter.service_id] = counter;
            });

            // 5. Оновлюємо рядки, як ми це робили раніше
            $('#container-invoiceservice_set .invoiceservice_set-row').each(function() {
                let $row = $(this);
                let serviceId = $row.find('select[name$="-service"]').val();

                if (serviceId && countersMap[serviceId] !== undefined) {
                    let counterData = countersMap[serviceId];
                    let priceVal = parseFloat($row.find('input[name$="-measurement_price"]').val()) || 0;

                    $row.find('input[name$="-indicator"]').val(counterData.indicator);

                    let totalPrice = counterData.indicator * priceVal;
                    $row.find('input[name$="-price"]').val(totalPrice.toFixed(2));
                }
            });

            calculateGrandTotal();

        } catch (error) {
            console.error("❌ Локальна помилка у браузері:", err);
        }
    });

    function calculateGrandTotal() {
        let total = 0;
        $('#container-invoiceservice_set input[name$="-price"]').each(function() {
            let val = parseFloat($(this).val());
            if (!isNaN(val)) {
                total += val;
            }
        });
        $('#price-total').text(total.toFixed(2));

        $('#invoice-total_amount').val(total.toFixed(2));
    }

    $(document).on('input', 'input[name$="-price"]', function() {
        calculateGrandTotal();
    });

    $(document).on('input', 'input[name$="-indicator"], input[name$="-measurement_price"]', function() {

        let $row = $(this).closest('tr');

        let indicator = parseFloat($row.find('input[name$="-indicator"]').val()) || 0;
        let measurement_price = parseFloat($row.find('input[name$="-measurement_price"]').val()) || 0;

        let rowPrice = indicator * measurement_price;

        $row.find('input[name$="-price"]').val(rowPrice.toFixed(2));

        calculateGrandTotal();
    });
});
</script>
{% endblock %}