<ul class="sidebar-menu tree active" data-widget="tree">
    <li class="treeview"><a href="#"><i class="fa fa-line-chart"></i>  <span>Сводки</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">

            <li><a href="#"><i class="fa fa-building"></i>  <span>Сводка 1</span></a></li>
        </ul>
    </li>

    <li class="treeview"><a href="#"><i class="fa fa-files-o"></i>  <span>Квитанции</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-file-text-o"></i>  <span>Квитанция 1</span></a></li>
        </ul>
    </li>

    <li class="treeview"><a href="#"><i class="fa fa-money"></i>  <span>Тарифы</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-file-text-o"></i>  <span>Тариф 1</span></a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-envelope-o"></i>  <span>Сообщения</span></a></li>
    <li><a href="#"><i class="fa fa-wrench"></i>  <span>Вызов мастера</span></a></li>
    <li><a href="{% url 'view_user_cabinet' %}"><i class="fa fa-user"></i><span>Профиль</span></a></li>
</ul>