{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper" style="min-height: 248px;">
    <section class="content-header">
        <h1>Квартиры</h1>
        <ul class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Главная</a></li>
            <li class="active">Квартиры</li>
        </ul>
    </section>

    <section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'create_apartment' %}">Добавить квартиру</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="/admin/flat/index" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow" id="apartment_ajax_datatable_permissions">
<!--                            <thead>-->
<!--                                <tr>-->
<!--                                    <th style="width: 120px; min-width: 120px"><a href="/admin/flat/index?sort=flat" data-sort="flat">№ квартиры</a></th>-->
<!--                                    <th style="min-width: 200px"><a href="/admin/flat/index?sort=house_id" data-sort="house_id">Дом</a></th>-->
<!--                                    <th style="width: 160px; min-width: 65px"><a href="/admin/flat/index?sort=section_id" data-sort="section_id">Секция</a></th>-->
<!--                                    <th style="width: 160px; min-width: 65px"><a href="/admin/flat/index?sort=floor_id" data-sort="floor_id">Этаж</a></th>-->
<!--                                    <th style="min-width: 200px"><a href="/admin/flat/index?sort=user_id" data-sort="user_id">Владелец</a></th>-->
<!--                                    <th style="width: 120px; min-width: 120px">Остаток (грн)</th><th style="width: 80px; min-width: 80px">&nbsp;</th>-->
<!--                                    <th style="width: 80px; min-width: 80px">&nbsp;</th>-->
<!--                                </tr>-->
<!--                                <tr id="w0-filters" class="filters">-->
<!--                                    <td><input type="text" class="form-control" name="FlatSearch[flat]"></td>-->
<!--                                    <td><td id="flatsearch-house_id" class="form-control select2-hidden-accessible" name="FlatSearch[house_id]" data-s2-options="s2options_7ebc6538" data-krajee-select2="select2_0d896465" style="display:none" tabindex="-1" aria-hidden="true"></td>-->
<!--                                    <td>-->
<!--                                        <span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;below" dir="ltr" style="width: 100%;">-->
<!--                                            <span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-flatsearch-user_id-container">-->
<!--                                                <span class="select2-selection__rendered" id="select2-flatsearch-user_id-container">-->
<!--                                                    <span class="select2-selection__placeholder"></span>-->
<!--                                                </span>-->
<!--                                                <span class="select2-selection__arrow" role="presentation">-->
<!--                                                    <b role="presentation"></b>-->
<!--                                                </span>-->
<!--                                            </span>-->
<!--                                        </span>-->
<!--                                            <span class="dropdown-wrapper" aria-hidden="true"></span>-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        <select id="flatsearch-searchhasdebt" class="form-control select2-hidden-accessible" name="FlatSearch[searchHasDebt]" data-s2-options="s2options_7ebc6538" data-krajee-select2="select2_0d896465" style="display:none" tabindex="-1" aria-hidden="true"></select>-->
<!--                                    </td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    </select>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            {% for item in apartments %}-->
<!--                                <tr data-href="{% url 'detail_apartment' item.id %}">-->
<!--                                    <td>{{ item.id }}</td>-->
<!--                                    <td>{{ item.house.name }}</td>-->
<!--                                    <td>{{ item.section.name }}</td>-->
<!--                                    <td>{{ item.storey.name }}</td>-->
<!--                                    <td>{{ item.owner }}</td>-->
<!--                                    <td></td>-->
<!--                                    <td>-->
<!--                                        <div class="btn-group pull-right">-->
<!--                                            <a class="btn btn-default btn-sm" href="{% url 'update_apartment' item.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>-->
<!--                                            <a class="btn btn-default btn-sm" href="{% url 'delete_apartment' item.id %}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?"><i class="fa fa-trash"></i></a>-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            {% endfor %}-->
<!--                            </tbody>-->
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <div>Количество квартир: <span class="text-bold">158</span></div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
{% endblock %}



{% block scripts %}

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="{% static 'ajax_datatable/js/utils.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap.min.js"></script>


<script language="javascript">
    $(document).ready(function() {
        AjaxDatatableViewUtils.initialize_table(
            $('#apartment_ajax_datatable_permissions'),
            "{% url 'apartment_datatable' %}",
            {

                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: true,
                scrollX: false,

                dom:
                    "<'row'<'col-sm-12'tr>>" +
                    "<'box-footer clearfix'p>",

                columnDefs: [
                    { width: "80px", targets: -1, className: "text-center" }
                ],

                pagingType: "simple_numbers",
                language: {
                    paginate: {
                        previous: "«",
                        next: "»"
                    },
                    lengthMenu: "Показувати _MENU_ записів",
                    info: "Показано від _START_ до _END_ із _TOTAL_ записів",
                    infoEmpty: "Немає записів",
                    zeroRecords: "Нічого не знайдено"
                },

                drawCallback: function(settings) {
                    var wrapper = $(settings.nTableWrapper);

                    // Знаходимо ul список пагінації
                    var ul = wrapper.find('.dataTables_paginate ul');

                    // Очищаємо можливе сміття від DataTables і ставимо рівно те, що треба
                    ul.removeClass().addClass('pagination pagination-sm no-margin pull-right');

                    // Прибираємо стандартні відступи DataTables, щоб список приліг впритул до краю
                    wrapper.find('.dataTables_paginate').css({
                        'float': 'none',
                        'text-align': 'right',
                        'margin': '0'
                    });
                },


                initComplete: function(settings, json) {
                    var sectionSelect = $('.datatable-column-filter-row th:eq(2) select');
                    var storeySelect = $('.datatable-column-filter-row th:eq(3) select');

                    // Додаємо їм красиві класи Bootstrap
                    $('.datatable-column-filter-row input').addClass('form-control input-sm');
                    $('.datatable-column-filter-row select').addClass('form-control input-sm');

                    // 2. БЛОКУЄМО ЗАЛЕЖНІ ПОЛЯ ПРИ СТАРТІ (як на твоєму фото)
                    sectionSelect.empty().append('<option value="">Выберите дом</option>').prop('disabled', true);
                    storeySelect.empty().append('<option value="">Выберите дом</option>').prop('disabled', true);
                },
            }
        );

    $(document).on('change', '.datatable-column-filter-row th:eq(1) select', function() {
            var houseId = $(this).val();
            var sectionSelect = $('.datatable-column-filter-row th:eq(2) select');
            var storeySelect = $('.datatable-column-filter-row th:eq(3) select');

            // Одразу скидаємо і блокуємо поверх
            storeySelect.empty().append('<option value="">Выберите дом</option>').prop('disabled', true);

            if (houseId) {
                // Одразу показуємо "Загрузка..." в ОБОХ списках
                sectionSelect.empty().append('<option value="">Загрузка...</option>').prop('disabled', true);
                storeySelect.empty().append('<option value="">Загрузка...</option>').prop('disabled', true);

                // ЗАПИТ 1: Отримуємо секції
                // (Якщо знову не буде працювати, спробуй додати /adminpanel перед /api, як ми обговорювали)
                $.get('/api/section/?house_id=' + houseId)
                    .done(function(data) {
                        sectionSelect.empty().append('<option value="">Все секции</option>');
                        $.each(data, function(index, item) {
                            sectionSelect.append('<option value="' + item.id + '">' + item.text + '</option>');
                        });
                        sectionSelect.prop('disabled', false); // Розблоковуємо секції
                    });

                // ЗАПИТ 2: Одночасно отримуємо поверхи для цього ж будинку
                $.get('/api/storey/?house_id=' + houseId)
                    .done(function(data) {
                        storeySelect.empty().append('<option value="">Все этажи</option>');
                        $.each(data, function(index, item) {
                            storeySelect.append('<option value="' + item.id + '">' + item.text + '</option>');
                        });
                        storeySelect.prop('disabled', false); // Розблоковуємо поверхи
                    });

            } else {
                // Якщо скинули будинок (обрали "Все дома") — блокуємо обидва поля
                sectionSelect.empty().append('<option value="">Выберите дом</option>').prop('disabled', true);
                storeySelect.empty().append('<option value="">Выберите дом</option>').prop('disabled', true);
            }
        });
    });
</script>

{% endblock %}