{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper" style="min-height: 1026.88px;">
    <section class="content-header">
        <h1>
            Новый дом
        </h1>

        <ul class="breadcrumb">
          <li><a href="/admin/"><i class="fa fa-home"></i> Главная</a></li>
          <li><a href="/admin/house/index">Дома</a></li>
          <li class="active">Новый дом</li>
        </ul>
    </section>

    <section class="content">

    <div class="box">
        <div class="box-body">
            <form id="w0" method="post" enctype="multipart/form-data"> <!--action="/admin/house/create" -->
                {% csrf_token %}
                <input type="hidden" name="_csrf-backend" value="08EAG_4TOIirCvO06xBAfHvViQm6ur3iM1AMlRNhwZO0lVBUzCpb5cZtgNCEVikmN5HhVt2X7bF5Ak39ZgKu1w=="><div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group field-houseform-name">
                            <label class="control-label" for="houseform-name">Название</label>
                            {{ form.name }}
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-houseform-address">
                            <label class="control-label" for="houseform-address">Адрес</label>
                            {{ form.adress }}
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-houseform-image1">
                            <label class="control-label" for="houseform-image1">Изображение #1. Размер: (522x350)</label>
                            {{ form.image_1 }}
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-houseform-image2">
                            <label class="control-label" for="houseform-image2">Изображение #2. Размер: (248x160)</label>
                            {{ form.image_2 }}
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-houseform-image3">
                            <label class="control-label" for="houseform-image3">Изображение #3. Размер: (248x160)</label>
                            {{ form.image_3 }}
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-houseform-image4">
                            <label class="control-label" for="houseform-image4">Изображение #4. Размер: (248x160)</label>
                            {{ form.image_4 }}

                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-houseform-image5">
                            <label class="control-label" for="houseform-image5">Изображение #5. Размер: (248x160)</label>
                            {{ form.image_5 }}

                            <div class="help-block"></div>
                        </div>
                    </div>

                <div class="col-xs-12 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <img src="{% if object.image_1 %}{{ object.image_1.photo.url }}{% else %}https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&amp;w=522&amp;h=350&amp;fit=crop{% endif %}" class="img-responsive largeImg margin-bottom-30" alt="Изображение #1. Размер: (522x350)">
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <img src="{% if object.image_2 %}{{ object.image_2.photo.url }}{% else %}https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&amp;w=248&amp;h=160&amp;fit=crop{% endif %}" class="img-responsive smallImg margin-bottom-30" alt="Изображение #2. Размер: (248x160)">
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <img src="{% if object.image_3 %}{{ object.image_3.photo.url }}{% else %}https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&amp;w=248&amp;h=160&amp;fit=crop{% endif %}" class="img-responsive smallImg margin-bottom-30" alt="Изображение #3. Размер: (248x160)">
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <img src="{% if object.image_4 %}{{ object.image_4.photo.url }}{% else %}https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&amp;w=248&amp;h=160&amp;fit=crop{% endif %}" class="img-responsive smallImg margin-bottom-30" alt="Изображение #4. Размер: (248x160)">
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <img src="{% if object.image_5 %}{{ object.image_5.photo.url }}{% else %}https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&amp;w=248&amp;h=160&amp;fit=crop{% endif %}" class="img-responsive smallImg margin-bottom-30" alt="Изображение #5. Размер: (248x160)">
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-8">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-sections" data-toggle="tab" aria-expanded="true" class="btn-tab-switch">Секции</a></li>
                            <li><a href="#tab-storey" data-toggle="tab" aria-expanded="false" class="btn-tab-switch">Этажи</a></li>
                            <li><a href="#tab-houseuseradmins" data-toggle="tab" aria-expanded="false" class="btn-tab-switch">Пользователи</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active clearfix" id="tab-sections">
                                <div id="container-sections">
                                    {{ inlines.management_form }}
                                    {% for form in inlines %}
                                        <div class="row form-section mb-3 section-row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label>Название</label>
                                                    <div class="input-group">
                                                        {{ form }}
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="empty-template-sections" style="display:none">
                                    <div class="row form-section mb-3 section-row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {% for hidden in inlines.empty_form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}

                                                    {{ inlines.empty_form.name }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success pull-right form-row-add-section-btn" type="button" data-prefix="sections">Добавить</button>
                            </div>


                        <div class="tab-content">
                            <div class="tab-pane clearfix" id="tab-storey">
                                <div id="container-storey">
                                    {{ inlines_2.management_form }}
                                    {% for form in inlines_2 %}
                                        <div class="row form-section mb-3 section-row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label>Название</label>
                                                    <div class="input-group">
                                                        {{ form }}
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="empty-template-storey" style="display:none">
                                    <div class="row form-section mb-3 section-row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {% for hidden in inlines_2.empty_form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}

                                                    {{ inlines_2.empty_form.name }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success pull-right form-row-add-storey-btn" type="button" data-prefix="storey">Добавить</button>
                            </div>

			                <div class="tab-content">
                                <div class="tab-pane clearfix" id="tab-houseuseradmins">
                                    <div id="container-houseuseradmins">
                                        {{ inlines_3.management_form }}
                                        {% for form in inlines %}
                                            <div class="row form-section mb-3 section-row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>Название</label>
                                                        <div class="input-group">
                                                            {{ form }}
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="empty-template-houseuseradmins" style="display:none">
                                        <div class="row form-houseuseradmins mb-3 section-row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-group" style="display: flex">
                                                        {% for hidden in inlines_3.empty_form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}

                                                         <div style="padding-right: 5px;" class="col-sm-5">
                                                             <label>ФИО</label>
                                                            {{ inlines_3.empty_form.name }}
                                                         </div>
                                                         <div class="col-sm-6" style="padding-right: 5px;">
                                                             <label>Роль</label>
                                                             {{ inlines_3.empty_form.role }}
                                                         </div>

                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger form-row-remove-btn" style="margin-top: 25px;"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success pull-right form-row-add-houseuseradmins-btn" type="button" data-prefix="houseuseradmins">Добавить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="form-group">
                        <a href="{% url 'create_house' %}" class="btn btn-default">Отменить</a>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </div>
            </form>
                </div>
            </div>
    </section>
</div>

// Source - https://stackoverflow.com/a/21331862
// Posted by Jnanaranjan, modified by community. See post 'Timeline' for change history
// Retrieved 2026-04-02, License - CC BY-SA 3.0

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static  'dist/js/formset.js' %}"></script>
<script src="{% static  'dist/js/hidden_fields.js' %}"></script>
{% endblock %}